<nav class="navbar navbar-expand-lg navbar-light bg-light animated bounceInDown">
  <a class="navbar-brand" routerLink="home">
    <img src="../../../assets/Images/Logo-Cedro-Restaurante.png" class="img-fluid" width="20%" alt="Cedro Restaurant">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="btn btn-outline-secondary btn-lg btn-block" role="button" routerLink="home" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"></i> Home</span>
      </li>
      <li class="nav-item">
        <span class="btn btn-outline-secondary btn-lg btn-block" role="button" routerLink="restaurants" routerLinkActive="active">
          <i class="fa fa-cutlery" aria-hidden="true"></i> Restaurantes</span>
      </li>
      <li class="nav-item">
        <span class="btn btn-outline-secondary btn-lg btn-block" role="button" routerLink="dishes" routerLinkActive="active">
          <i class="fa fa-star" aria-hidden="true"></i> Pratos</span>
      </li>
    </ul>
  </div>
</nav>
